
::ng-deep {
    .ngx-pagination a:hover,
    .ngx-pagination button:hover {
        background: #aca7cb !important;
        opacity: .6 !important;
    }

    .ngx-pagination .current {
        background: #aca7cb !important;
    }

}

.pag {
    background: #aca7cb;
}

.pag-cont {
    padding-top: 20px;
}