<div class="container mt-5 mb-5">
    <div class="row g-5">
        <div class="col-6 col-md-6 col-lg-3" *ngFor="let fetchedPokemon of fetchedData.results | paginate: { itemsPerPage: pagePokemons, currentPage: page}" >
            
            <app-pokemon-cards [receivedPokemons]="fetchedPokemon"></app-pokemon-cards>
            
        </div>
    </div>
</div>

<div class="pag mt-8 py-3 d-flex justify-content-center fixed-bottom">
  <pagination-controls
    class="color-light pag-cont"
    (pageChange)="pageChange($event)"
  ></pagination-controls>
</div>
