
<div>
    <nav class="navbar fixed-top mb-5">
        <div class="container-fluid d-flex justify-content-center">
            <a href="#" class="navbar-brand">
            <img
                style="width: 130px"
                src="../assets/pokemon-logo.png"
                alt="site_logo"
            />
            </a>
        </div>
    </nav>

    <div class="container mt-5 mb-5">
        <div class="row mt-5 g-5">
            
            <router-outlet></router-outlet>

        </div>
    </div>
</div>
    