.i-btn {
    color: #fff;
    background: #aca7cb;
    border: 2px solid #aca7cb;
    transition: all ease-in-out 250ms;
}

.i-btn:hover {
    color: #867bc9;
    background: transparent;
    border: 2px solid #867bc9;
}

.image {
    width: 550px;
}