
.i-fix {
    height: 270px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.i-btn {
    color: #867bc9;
    background: transparent;
    border: 2px solid #867bc9;
    transition: all ease-in-out 250ms;
}

.i-btn:hover {
    color: #fff;
    background: #aca7cb;
    border: 2px solid #aca7cb;
}

.cd1 {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.cd2 {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
